
canvas {
    background-color: black;
    height: 40vw;
    width: 40vw;
    display: block;
    margin: 0px auto;
}

#stage {
    position: relative;
}

.controls {
    padding: 1em;
}

.ui.segment.group.frame-form .content {
    text-align: center;
}

.ui.segment.group.frame-form .input {
    width: 40%
}

.ui.segment.group.frame-form .button {
    display: block;
    width: 30%;
    margin: 1em auto;
}

.ui.tab > div.label {
    display: none;
}

.ui.segment.group.about-form {
    text-align: center;
    .content {
        padding: 0;
    }

    .labeled-input {
        margin: 0.5em;
    }

    .input {
        padding: 0.1em 0.3em;
    }
}

.ui.tabular.menu {
    flex-wrap: wrap;
}

.ui.segment.group.frames {
    min-height: 256px;
}

.about-form > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    width: 50vw;

    input {
        text-align: center;
        width: 100%;
    }
}
